---
Language:       Java
BasedOnStyle:   LLVM
IndentWidth:    4
InsertBraces: true
AlignAfterOpenBracket: BlockIndent

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AlwaysBreakAfterReturnType: None

PenaltyReturnTypeOnItsOwnLine: 1000
